In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
train = pd.read_csv('./data/train.csv', nrows=100, index_col="id")
train.head()

          date  store_nbr  item_nbr  unit_sales  onpromotion
id
0   2013-01-01         25    103665         7.0          NaN
1   2013-01-01         25    105574         1.0          NaN
2   2013-01-01         25    105575         2.0          NaN
3   2013-01-01         25    108079         1.0          NaN
4   2013-01-01         25    108701         1.0          NaN

In [13]:
train.columns

Index(['date', 'store_nbr', 'item_nbr', 'unit_sales', 'onpromotion'], dtype='object')

In [2]:
test = pd.read_csv('./data/test.csv', parse_dates=['date'])
test.head()

          id       date  store_nbr  item_nbr onpromotion
0  125497040 2017-08-16          1     96995       False
1  125497041 2017-08-16          1     99197       False
2  125497042 2017-08-16          1    103501       False
3  125497043 2017-08-16          1    103520       False
4  125497044 2017-08-16          1    103665       False

In [3]:
test.date.min()

Timestamp('2017-08-16 00:00:00')

In [4]:
test.date.max()

Timestamp('2017-08-31 00:00:00')

In [9]:
test.onpromotion.value_counts()

False    3171867
True      198597
Name: onpromotion, dtype: int64

In [13]:
len(test.store_nbr.unique())

54

In [14]:
len(test.date.unique())

16

In [15]:
test.date.value_counts()

2017-08-18    210654
2017-08-25    210654
2017-08-17    210654
2017-08-26    210654
2017-08-16    210654
2017-08-22    210654
2017-08-21    210654
2017-08-19    210654
2017-08-23    210654
2017-08-31    210654
2017-08-29    210654
2017-08-27    210654
2017-08-24    210654
2017-08-30    210654
2017-08-20    210654
2017-08-28    210654
Name: date, dtype: int64

In [17]:
len(test.item_nbr.unique())

3901

In [18]:
stores = pd.read_csv('./data/stores.csv')
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [20]:
len(stores.cluster.unique())

17

In [21]:
# можна якусь інфо витаскувати по географії чи погоді
stores.city.value_counts()

Quito            18
Guayaquil         8
Cuenca            3
Santo Domingo     3
Manta             2
Ambato            2
Machala           2
Latacunga         2
Ibarra            1
Daule             1
Loja              1
Guaranda          1
Esmeraldas        1
El Carmen         1
Riobamba          1
Salinas           1
Puyo              1
Cayambe           1
Libertad          1
Quevedo           1
Babahoyo          1
Playas            1
Name: city, dtype: int64

In [22]:
stores.state.value_counts()

Pichincha                         19
Guayas                            11
Santo Domingo de los Tsachilas     3
Azuay                              3
Manabi                             3
Tungurahua                         2
El Oro                             2
Los Rios                           2
Cotopaxi                           2
Santa Elena                        1
Loja                               1
Pastaza                            1
Imbabura                           1
Chimborazo                         1
Esmeraldas                         1
Bolivar                            1
Name: state, dtype: int64

In [23]:
items = pd.read_csv('./data/items.csv')
items.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [40]:
# perishable - скоропортящийся
len(items.family.value_counts())

33

In [27]:
len(items['class'].unique())

337

In [28]:
items.perishable.value_counts()

0    3114
1     986
Name: perishable, dtype: int64

In [36]:
perishable_family_split = items.groupby(by=['family', 'perishable'], as_index=False).count()
perishable_family_split_df = perishable_family_split[perishable_family_split.perishable == 0][['family', 'item_nbr']]
perishable_family_split_df.rename(columns = {'item_nbr':'not_perishable'}, inplace=True)
perishable_family_split_df2 = perishable_family_split[perishable_family_split.perishable == 1][['family', 'item_nbr']]
perishable_family_split_df2.rename(columns = {'item_nbr':'perishable'}, inplace=True)

In [37]:
len(perishable_family_split)

33

In [38]:
len(perishable_family_split_df)

24

In [39]:
len(perishable_family_split_df2)

9

In [5]:
transactions = pd.read_csv('./data/transactions.csv', parse_dates=['date'])
transactions.head()

        date  store_nbr  transactions
0 2013-01-01         25           770
1 2013-01-02          1          2111
2 2013-01-02          2          2358
3 2013-01-02          3          3487
4 2013-01-02          4          1922

In [6]:
transactions.date.min()

Timestamp('2013-01-01 00:00:00')

In [7]:
transactions.date.max()

Timestamp('2017-08-15 00:00:00')

In [8]:
oil = pd.read_csv('./data/oil.csv', parse_dates=['date'])
oil.head()

        date  dcoilwtico
0 2013-01-01         NaN
1 2013-01-02       93.14
2 2013-01-03       92.97
3 2013-01-04       93.12
4 2013-01-07       93.20

In [9]:
oil.date.min()

Timestamp('2013-01-01 00:00:00')

In [10]:
oil.date.max()

Timestamp('2017-08-31 00:00:00')

In [51]:
holidays = pd.read_csv('./data/holidays_events.csv')
holidays.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [52]:
holidays.locale_name.value_counts()

Ecuador                           174
Quito                              13
Ambato                             12
Latacunga                          12
Riobamba                           12
Guaranda                           12
Guayaquil                          11
Ibarra                              7
Cuenca                              7
Santo Domingo de los Tsachilas      6
Libertad                            6
Cotopaxi                            6
Puyo                                6
Santo Domingo                       6
Quevedo                             6
Imbabura                            6
Machala                             6
Cayambe                             6
Santa Elena                         6
Salinas                             6
Manta                               6
El Carmen                           6
Loja                                6
Esmeraldas                          6
Name: locale_name, dtype: int64