In [1]:
import pandas as pd
from dateutil.parser import parse
from datetime import timedelta
import numpy as np

In [25]:
types = {'id': 'int32',
         'date': 'str',
         'item_nbr': 'int32',
         'store_nbr': 'int16',
         'unit_sales': 'float16',
         'onpromotion': bool,
    }
train = pd.read_csv('./data/train.csv', dtype=types)

C:\Users\Anatoliy\Anaconda2\envs\py35\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
train.head()

   id        date  store_nbr  item_nbr  unit_sales onpromotion
0   0  2013-01-01         25    103665         7.0         NaN
1   1  2013-01-01         25    105574         1.0         NaN
2   2  2013-01-01         25    105575         2.0         NaN
3   3  2013-01-01         25    108079         1.0         NaN
4   4  2013-01-01         25    108701         1.0         NaN

In [27]:
train['onpromotion'].fillna(False, inplace=True)

In [28]:
train['date'].fillna('', inplace=True)

In [29]:
train['date'].dtype

dtype('O')

In [20]:
start = parse('2013-01-01')
end = parse('2017-08-15')

replace = {'date':{}}
days = 0
while start <= end:
    day_str = start.strftime('%Y-%m-%d')
    replace['date'][day_str] = str(days)
    start += timedelta(days=1)
    days += 1
replace

{'date': {'2013-01-20': '19',
  '2014-06-02': '517',
  '2016-04-25': '1210',
  '2015-10-05': '1007',
  '2016-08-26': '1333',
  '2014-01-10': '374',
  '2017-05-19': '1599',
  '2014-08-06': '582',
  '2013-09-01': '243',
  '2013-05-01': '120',
  '2013-03-04': '62',
  '2013-08-29': '240',
  '2013-06-09': '159',
  '2016-11-10': '1409',
  '2014-04-13': '467',
  '2016-12-20': '1449',
  '2015-11-28': '1061',
  '2013-10-22': '294',
  '2013-01-25': '24',
  '2017-07-25': '1666',
  '2017-01-26': '1486',
  '2015-03-02': '790',
  '2013-05-16': '135',
  '2015-04-15': '834',
  '2017-03-13': '1532',
  '2014-04-12': '466',
  '2016-10-20': '1388',
  '2016-01-27': '1121',
  '2015-10-29': '1031',
  '2013-05-14': '133',
  '2013-05-15': '134',
  '2013-06-12': '162',
  '2015-08-24': '965',
  '2017-03-31': '1550',
  '2016-11-19': '1418',
  '2015-05-17': '866',
  '2013-10-07': '279',
  '2014-01-24': '388',
  '2016-09-18': '1356',
  '2017-05-12': '1592',
  '2015-09-24': '996',
  '2016-06-03': '1249',
  '2014-06-22': '537',
  '2013-03-01': '59',
  '2015-12-15': '1078',
  '2014-09-01': '608',
  '2017-07-15': '1656',
  '2014-06-01': '516',
  '2017-02-18': '1509',
  '2013-09-06': '248',
  '2016-07-09': '1285',
  '2014-02-19': '414',
  '2014-12-13': '711',
  '2017-07-21': '1662',
  '2014-10-18': '655',
  '2016-05-18': '1233',
  '2016-02-14': '1139',
  '2013-02-28': '58',
  '2014-06-17': '532',
  '2013-09-08': '250',
  '2013-08-05': '216',
  '2016-01-09': '1103',
  '2014-01-19': '383',
  '2015-09-26': '998',
  '2015-11-20': '1053',
  '2016-09-30': '1368',
  '2014-12-27': '725',
  '2014-10-04': '641',
  '2015-07-09': '919',
  '2013-10-31': '303',
  '2015-09-04': '976',
  '2016-06-30': '1276',
  '2013-01-17': '16',
  '2013-08-09': '220',
  '2013-08-03': '214',
  '2015-04-07': '826',
  '2014-09-24': '631',
  '2013-10-18': '290',
  '2016-08-05': '1312',
  '2015-12-14': '1077',
  '2016-01-21': '1115',
  '2016-06-10': '1256',
  '2014-10-03': '640',
  '2014-02-02': '397',
  '2013-07-18': '198',
  '2014-11-15': '683',
  '2015-02-07': '767',
  '2016-09-06': '1344',
  '2015-09-11': '983',
  '2013-02-25': '55',
  '2015-05-28': '877',
  '2015-04-11': '830',
  '2016-07-26': '1302',
  '2017-06-11': '1622',
  '2015-05-08': '857',
  '2014-10-11': '648',
  '2016-10-21': '1389',
  '2016-07-06': '1282',
  '2014-07-11': '556',
  '2014-04-20': '474',
  '2013-10-10': '282',
  '2014-03-26': '449',
  '2015-07-19': '929',
  '2014-08-07': '583',
  '2013-03-19': '77',
  '2015-02-12': '772',
  '2015-04-22': '841',
  '2017-01-24': '1484',
  '2016-03-23': '1177',
  '2013-02-15': '45',
  '2015-07-13': '923',
  '2016-10-25': '1393',
  '2014-05-17': '501',
  '2015-05-06': '855',
  '2014-06-04': '519',
  '2014-08-22': '598',
  '2013-10-02': '274',
  '2014-11-14': '682',
  '2017-06-27': '1638',
  '2014-05-23': '507',
  '2014-02-03': '398',
  '2014-04-25': '479',
  '2016-10-19': '1387',
  '2015-02-09': '769',
  '2013-04-10': '99',
  '2013-11-22': '325',
  '2013-03-16': '74',
  '2014-09-17': '624',
  '2014-04-01': '455',
  '2014-06-10': '525',
  '2015-12-02': '1065',
  '2017-01-23': '1483',
  '2016-02-25': '1150',
  '2014-07-29': '574',
  '2017-04-30': '1580',
  '2015-03-26': '814',
  '2013-08-15': '226',
  '2013-03-13': '71',
  '2013-03-07': '65',
  '2015-12-11': '1074',
  '2013-07-06': '186',
  '2013-08-12': '223',
  '2016-12-03': '1432',
  '2013-02-18': '48',
  '2014-12-26': '724',
  '2014-07-07': '552',
  '2016-05-21': '1236',
  '2015-02-16': '776',
  '2016-06-26': '1272',
  '2016-11-24': '1423',
  '2014-08-13': '589',
  '2015-08-14': '955',
  '2016-10-02': '1370',
  '2015-09-16': '988',
  '2016-07-29': '1305',
  '2017-07-18': '1659',
  '2015-08-03': '944',
  '2013-11-15': '318',
  '2015-08-18': '959',
  '2015-08-10': '951',
  '2013-10-09': '281',
  '2014-12-12': '710',
  '2013-05-19': '138',
  '2014-02-27': '422',
  '2014-09-29': '636',
  '2014-02-05': '400',
  '2015-03-12': '800',
  '2015-09-03': '975',
  '2014-07-06': '551',
  '2013-01-30': '29',
  '2013-04-03': '92',
  '2015-12-09': '1072',
  '2014-04-22': '476',
  '2013-07-17': '197',
  '2016-08-17': '1324',
  '2017-03-17': '1536',
  '2013-04-20': '109',
  '2017-04-02': '1552',
  '2013-11-16': '319',
  '2015-01-21': '750',
  '2016-01-31': '1125',
  '2014-06-29': '544',
  '2015-02-06': '766',
  '2014-05-21': '505',
  '2014-02-20': '415',
  '2013-12-01': '334',
  '2013-11-18': '321',
  '2013-03-03': '61',
  '2015-02-03': '763',
  '2013-09-27': '269',
  '2016-04-16': '1201',
  '2014-05-01': '485',
  '2015-01-01': '730',
  '2013-01-08': '7',
  '2017-03-20': '1539',
  '2014-02-23': '418',
  '2015-12-24': '1087',
  '2013-06-21': '171',
  '2015-06-19': '899',
  '2015-06-15': '895',
  '2014-09-30': '637',
  '2017-08-01': '1673',
  '2015-04-30': '849',
  '2016-12-07': '1436',
  '2013-07-31': '211',
  '2013-03-27': '85',
  '2013-12-05': '338',
  '2016-11-01': '1400',
  '2017-04-13': '1563',
  '2014-03-05': '428',
  '2017-02-28': '1519',
  '2017-04-27': '1577',
  '2016-06-14': '1260',
  '2017-06-16': '1627',
  '2013-07-01': '181',
  '2014-07-25': '570',
  '2014-09-15': '622',
  '2013-03-20': '78',
  '2015-05-05': '854',
  '2015-05-23': '872',
  '2013-04-29': '118',
  '2014-11-12': '680',
  '2015-10-15': '1017',
  '2014-04-11': '465',
  '2016-04-12': '1197',
  '2013-09-12': '254',
  '2015-12-16': '1079',
  '2014-02-06': '401',
  '2015-06-01': '881',
  '2016-08-13': '1320',
  '2013-04-07': '96',
  '2016-03-07': '1161',
  '2013-09-25': '267',
  '2017-01-13': '1473',
  '2016-09-15': '1353',
  '2017-05-24': '1604',
  '2013-05-27': '146',
  '2016-07-28': '1304',
  '2013-08-16': '227',
  '2015-04-09': '828',
  '2014-11-27': '695',
  '2014-05-27': '511',
  '2015-11-29': '1062',
  '2014-07-02': '547',
  '2015-09-29': '1001',
  '2013-08-20': '231',
  '2017-03-15': '1534',
  '2016-05-04': '1219',
  '2016-04-17': '1202',
  '2013-03-14': '72',
  '2014-09-09': '616',
  '2015-12-21': '1084',
  '2017-03-09': '1528',
  '2015-12-30': '1093',
  '2015-07-02': '912',
  '2015-06-24': '904',
  '2015-06-14': '894',
  '2015-06-13': '893',
  '2016-04-30': '1215',
  '2016-01-12': '1106',
  '2016-11-30': '1429',
  '2015-02-05': '765',
  '2013-06-27': '177',
  '2014-03-09': '432',
  '2015-06-16': '896',
  '2013-04-23': '112',
  '2016-11-21': '1420',
  '2013-03-15': '73',
  '2014-08-31': '607',
  '2013-05-18': '137',
  '2015-04-05': '824',
  '2016-06-08': '1254',
  '2016-11-15': '1414',
  '2013-06-16': '166',
  '2015-09-19': '991',
  '2015-03-13': '801',
  '2016-12-25': '1454',
  '2013-06-08': '158',
  '2016-03-17': '1171',
  '2014-04-17': '471',
  '2015-10-27': '1029',
  '2014-06-12': '527',
  '2016-06-20': '1266',
  '2017-04-21': '1571',
  '2017-04-26': '1576',
  '2014-09-10': '617',
  '2016-12-01': '1430',
  '2014-09-13': '620',
  '2015-10-14': '1016',
  '2017-03-19': '1538',
  '2016-11-17': '1416',
  '2013-04-04': '93',
  '2014-08-25': '601',
  '2015-03-11': '799',
  '2015-06-08': '888',
  '2017-06-21': '1632',
  '2016-02-19': '1144',
  '2016-02-09': '1134',
  '2017-04-01': '1551',
  '2013-05-22': '141',
  '2014-01-29': '393',
  '2013-11-19': '322',
  '2016-02-02': '1127',
  '2013-07-19': '199',
  '2014-10-25': '662',
  '2017-08-02': '1674',
  '2013-01-29': '28',
  '2014-12-01': '699',
  '2013-05-30': '149',
  '2015-06-17': '897',
  '2016-06-13': '1259',
  '2016-02-28': '1153',
  '2017-05-29': '1609',
  '2016-12-21': '1450',
  '2014-12-09': '707',
  '2014-08-17': '593',
  '2016-05-11': '1226',
  '2014-06-06': '521',
  '2014-03-24': '447',
  '2016-04-21': '1206',
  '2014-04-15': '469',
  '2016-01-30': '1124',
  '2015-04-04': '823',
  '2017-06-30': '1641',
  '2013-11-05': '308',
  '2015-06-20': '900',
  '2017-03-07': '1526',
  '2017-03-04': '1523',
  '2015-12-03': '1066',
  '2017-05-21': '1601',
  '2017-04-06': '1556',
  '2015-07-16': '926',
  '2015-08-15': '956',
  '2016-09-02': '1340',
  '2015-01-04': '733',
  '2017-07-09': '1650',
  '2015-11-27': '1060',
  '2017-01-10': '1470',
  '2013-12-16': '349',
  '2017-06-29': '1640',
  '2017-04-28': '1578',
  '2016-03-14': '1168',
  '2014-04-27': '481',
  '2014-06-28': '543',
  '2013-06-01': '151',
  '2015-03-17': '805',
  '2014-11-25': '693',
  '2017-02-25': '1516',
  '2017-06-25': '1636',
  '2014-03-16': '439',
  '2015-05-02': '851',
  '2016-10-08': '1376',
  '2013-08-06': '217',
  '2014-02-07': '402',
  '2015-11-25': '1058',
  '2015-02-04': '764',
  '2014-10-28': '665',
  '2013-05-09': '128',
  '2016-05-30': '1245',
  '2014-06-03': '518',
  '2013-11-24': '327',
  '2017-08-07': '1679',
  '2013-09-13': '255',
  '2013-07-24': '204',
  '2014-01-07': '371',
  '2014-10-19': '656',
  '2015-11-26': '1059',
  '2016-11-20': '1419',
  '2013-10-19': '291',
  '2014-09-22': '629',
  '2017-03-24': '1543',
  '2015-01-06': '735',
  '2013-02-26': '56',
  '2016-12-27': '1456',
  '2015-03-10': '798',
  '2016-08-01': '1308',
  '2016-10-05': '1373',
  '2016-04-15': '1200',
  '2014-10-22': '659',
  '2015-11-15': '1048',
  '2017-02-21': '1512',
  '2015-07-23': '933',
  '2017-03-21': '1540',
  '2017-01-01': '1461',
  '2016-02-05': '1130',
  '2014-06-15': '530',
  '2016-02-10': '1135',
  '2017-03-28': '1547',
  '2013-09-15': '257',
  '2014-02-04': '399',
  '2016-09-25': '1363',
  '2013-08-23': '234',
  '2016-10-09': '1377',
  '2015-05-24': '873',
  '2016-01-23': '1117',
  '2017-04-17': '1567',
  '2016-10-24': '1392',
  '2015-01-15': '744',
  '2014-11-03': '671',
  '2015-02-21': '781',
  '2015-06-05': '885',
  '2014-09-14': '621',
  '2015-01-19': '748',
  '2016-05-24': '1239',
  '2014-01-23': '387',
  '2017-06-07': '1618',
  '2015-03-07': '795',
  '2013-04-14': '103',
  '2016-03-21': '1175',
  '2013-10-16': '288',
  '2015-07-08': '918',
  '2014-05-14': '498',
  '2015-04-08': '827',
  '2015-03-06': '794',
  '2013-07-16': '196',
  '2017-01-14': '1474',
  '2013-03-24': '82',
  '2014-04-07': '461',
  '2013-01-24': '23',
  '2015-05-31': '880',
  '2013-12-12': '345',
  '2013-09-02': '244',
  '2014-12-04': '702',
  '2014-01-09': '373',
  '2016-04-07': '1192',
  '2015-01-22': '751',
  '2016-10-31': '1399',
  '2013-07-26': '206',
  '2014-05-29': '513',
  '2017-06-02': '1613',
  '2016-10-17': '1385',
  '2013-11-12': '315',
  '2014-09-12': '619',
  '2016-09-07': '1345',
  '2015-07-14': '924',
  '2015-05-07': '856',
  '2016-10-04': '1372',
  '2013-05-25': '144',
  '2015-03-28': '816',
  '2017-04-22': '1572',
  '2015-10-18': '1020',
  '2014-04-28': '482',
  '2016-10-06': '1374',
  '2016-06-18': '1264',
  '2014-11-22': '690',
  '2014-07-26': '571',
  '2016-01-01': '1095',
  '2016-03-19': '1173',
  '2014-08-20': '596',
  '2016-11-04': '1403',
  '2016-09-03': '1341',
  '2017-02-02': '1493',
  '2014-07-21': '566',
  '2016-12-06': '1435',
  '2015-04-10': '829',
  '2016-10-12': '1380',
  '2017-05-04': '1584',
  '2013-04-09': '98',
  '2013-06-18': '168',
  '2016-06-27': '1273',
  '2014-03-13': '436',
  '2016-07-16': '1292',
  '2014-03-02': '425',
  '2016-03-12': '1166',
  '2014-05-16': '500',
  '2014-01-20': '384',
  '2014-01-04': '368',
  '2016-12-23': '1452',
  '2015-06-26': '906',
  '2015-02-27': '787',
  '2016-07-10': '1286',
  '2013-11-21': '324',
  '2017-02-19': '1510',
  '2014-03-04': '427',
  '2016-06-25': '1271',
  '2015-03-18': '806',
  '2016-07-21': '1297',
  '2016-04-13': '1198',
  '2016-12-18': '1447',
  '2015-05-10': '859',
  '2013-12-04': '337',
  '2013-02-17': '47',
  '2016-09-11': '1349',
  '2015-10-25': '1027',
  '2013-03-06': '64',
  '2017-01-27': '1487',
  '2016-03-02': '1156',
  '2015-03-20': '808',
  '2016-11-22': '1421',
  '2014-10-15': '652',
  '2014-10-01': '638',
  '2016-07-20': '1296',
  '2013-11-29': '332',
  '2013-05-08': '127',
  '2016-04-23': '1208',
  '2014-02-08': '403',
  '2015-12-07': '1070',
  '2016-05-05': '1220',
  '2017-05-16': '1596',
  '2017-01-02': '1462',
  '2016-09-08': '1346',
  '2014-09-28': '635',
  '2014-10-13': '650',
  '2013-03-25': '83',
  '2017-02-08': '1499',
  '2016-07-13': '1289',
  '2017-06-28': '1639',
  '2014-12-30': '728',
  '2015-07-01': '911',
  '2015-09-12': '984',
  '2013-08-31': '242',
  '2014-11-13': '681',
  '2017-01-08': '1468',
  '2013-05-24': '143',
  '2013-10-11': '283',
  '2013-10-17': '289',
  '2015-10-20': '1022',
  '2013-08-30': '241',
  '2014-08-01': '577',
  '2013-11-23': '326',
  '2017-03-18': '1537',
  '2015-01-26': '755',
  '2014-03-10': '433',
  '2013-07-25': '205',
  '2017-02-13': '1504',
  '2013-05-28': '147',
  '2015-08-13': '954',
  '2014-01-11': '375',
  '2016-08-08': '1315',
  '2013-11-28': '331',
  '2016-09-09': '1347',
  '2016-10-03': '1371',
  '2014-09-18': '625',
  '2014-03-14': '437',
  '2014-01-26': '390',
  '2013-03-02': '60',
  '2014-03-18': '441',
  '2015-04-19': '838',
  '2015-12-29': '1092',
  '2016-10-07': '1375',
  '2013-08-02': '213',
  '2015-11-30': '1063',
  '2017-08-05': '1677',
  '2016-12-28': '1457',
  '2016-08-18': '1325',
  '2016-01-19': '1113',
  '2013-06-07': '157',
  '2015-04-17': '836',
  '2017-04-29': '1579',
  '2014-09-11': '618',
  '2016-07-01': '1277',
  '2016-11-11': '1410',
  '2014-05-05': '489',
  '2016-08-28': '1335',
  '2017-04-10': '1560',
  '2016-04-02': '1187',
  '2017-05-15': '1595',
  '2015-03-03': '791',
  '2017-06-20': '1631',
  '2015-02-15': '775',
  '2015-07-17': '927',
  '2016-08-06': '1313',
  '2015-02-08': '768',
  '2014-02-10': '405',
  '2014-07-31': '576',
  '2013-02-21': '51',
  '2013-08-08': '219',
  '2014-09-03': '610',
  '2015-09-25': '997',
  '2014-02-01': '396',
  '2013-03-22': '80',
  '2015-02-25': '785',
  '2016-05-16': '1231',
  '2015-10-06': '1008',
  '2015-03-19': '807',
  '2014-07-17': '562',
  '2014-12-02': '700',
  '2014-05-26': '510',
  '2013-05-11': '130',
  '2016-08-23': '1330',
  '2014-11-01': '669',
  '2016-02-16': '1141',
  '2014-01-30': '394',
  '2017-07-22': '1663',
  '2017-04-19': '1569',
  '2017-01-25': '1485',
  '2013-11-10': '313',
  '2017-04-14': '1564',
  '2017-01-16': '1476',
  '2017-06-14': '1625',
  '2013-11-02': '305',
  '2013-09-09': '251',
  '2013-07-20': '200',
  '2015-07-26': '936',
  '2014-09-07': '614',
  '2014-07-23': '568',
  '2013-04-05': '94',
  '2016-02-23': '1148',
  '2013-08-21': '232',
  '2014-06-24': '539',
  '2015-09-20': '992',
  '2013-01-31': '30',
  '2016-04-22': '1207',
  '2014-05-18': '502',
  '2014-03-25': '448',
  '2016-08-22': '1329',
  '2014-02-15': '410',
  '2016-07-18': '1294',
  '2017-03-25': '1544',
  '2015-08-20': '961',
  '2016-08-03': '1310',
  '2016-07-27': '1303',
  '2015-02-14': '774',
  '2014-06-18': '533',
  '2017-06-17': '1628',
  '2013-06-05': '155',
  '2016-04-10': '1195',
  '2015-02-20': '780',
  '2013-01-28': '27',
  '2013-05-04': '123',
  '2016-01-22': '1116',
  '2016-05-02': '1217',
  '2017-07-14': '1655',
  '2015-08-09': '950',
  '2014-02-13': '408',
  '2013-08-28': '239',
  '2014-10-14': '651',
  '2016-07-24': '1300',
  '2016-04-06': '1191',
  '2013-06-02': '152',
  '2014-01-22': '386',
  '2016-06-05': '1251',
  '2013-01-06': '5',
  '2013-08-01': '212',
  '2016-05-03': '1218',
  '2016-11-08': '1407',
  '2015-10-12': '1014',
  '2014-07-01': '546',
  '2016-06-28': '1274',
  '2013-02-20': '50',
  '2015-01-09': '738',
  '2016-03-26': '1180',
  '2017-06-01': '1612',
  '2015-08-23': '964',
  '2013-10-28': '300',
  '2016-08-31': '1338',
  '2016-09-27': '1365',
  '2013-03-18': '76',
  '2015-11-13': '1046',
  '2014-07-05': '550',
  '2013-04-06': '95',
  '2013-08-19': '230',
  '2016-11-29': '1428',
  '2017-07-26': '1667',
  '2015-08-25': '966',
  '2017-06-26': '1637',
  '2016-03-15': '1169',
  '2015-11-17': '1050',
  '2017-01-28': '1488',
  '2015-07-31': '941',
  '2017-06-08': '1619',
  '2013-09-30': '272',
  '2014-09-23': '630',
  '2013-01-15': '14',
  '2015-08-31': '972',
  '2015-12-28': '1091',
  '2015-06-10': '890',
  '2014-07-24': '569',
  '2015-07-11': '921',
  '2017-05-30': '1610',
  '2016-12-29': '1458',
  '2015-11-19': '1052',
  '2014-11-30': '698',
  '2016-07-31': '1307',
  '2013-08-04': '215',
  '2016-04-11': '1196',
  '2017-05-18': '1598',
  '2015-10-31': '1033',
  '2016-11-16': '1415',
  '2013-12-11': '344',
  '2017-02-01': '1492',
  '2016-09-14': '1352',
  '2015-01-28': '757',
  '2014-10-08': '645',
  '2016-09-10': '1348',
  '2015-01-30': '759',
  '2013-06-15': '165',
  '2015-10-17': '1019',
  '2017-05-09': '1589',
  '2013-11-17': '320',
  '2015-04-18': '837',
  '2014-04-14': '468',
  '2015-06-23': '903',
  '2015-09-30': '1002',
  '2013-01-22': '21',
  '2013-08-13': '224',
  '2017-07-12': '1653',
  '2013-02-13': '43',
  '2014-08-15': '591',
  '2017-06-03': '1614',
  '2016-06-21': '1267',
  '2014-08-29': '605',
  '2013-05-26': '145',
  '2013-11-07': '310',
  '2013-01-14': '13',
  '2013-12-27': '360',
  '2015-04-20': '839',
  '2014-08-21': '597',
  '2013-06-14': '164',
  '2013-10-04': '276',
  '2015-11-04': '1037',
  '2014-12-10': '708',
  '2016-05-17': '1232',
  '2014-10-16': '653',
  '2014-11-19': '687',
  '2016-06-06': '1252',
  '2016-11-26': '1425',
  '2016-12-05': '1434',
  '2015-08-22': '963',
  '2016-11-07': '1406',
  '2014-08-23': '599',
  '2013-04-02': '91',
  '2013-02-11': '41',
  '2015-09-18': '990',
  '2017-07-28': '1669',
  '2016-02-18': '1143',
  '2014-04-18': '472',
  '2013-09-23': '265',
  '2017-03-29': '1548',
  '2016-08-29': '1336',
  '2015-04-12': '831',
  '2015-10-30': '1032',
  '2013-12-29': '362',
  '2014-03-03': '426',
  '2014-08-04': '580',
  '2016-10-15': '1383',
  '2014-12-21': '719',
  '2014-06-08': '523',
  '2014-12-17': '715',
  '2013-03-31': '89',
  '2015-07-10': '920',
  '2015-08-21': '962',
  '2015-07-18': '928',
  '2013-10-15': '287',
  '2014-02-17': '412',
  '2016-03-22': '1176',
  '2014-12-08': '706',
  '2016-01-10': '1104',
  '2017-02-26': '1517',
  '2015-04-27': '846',
  '2014-04-21': '475',
  '2014-01-27': '391',
  '2013-01-12': '11',
  '2013-05-29': '148',
  '2016-05-06': '1221',
  '2013-09-16': '258',
  '2015-11-12': '1045',
  '2014-05-30': '514',
  '2014-03-30': '453',
  '2015-01-18': '747',
  '2017-05-11': '1591',
  '2013-01-23': '22',
  '2017-08-15': '1687',
  '2015-05-09': '858',
  '2016-03-05': '1159',
  '2016-08-25': '1332',
  '2017-07-30': '1671',
  '2016-06-29': '1275',
  '2013-01-10': '9',
  '2015-01-14': '743',
  '2015-02-28': '788',
  '2014-08-30': '606',
  '2014-12-24': '722',
  '2016-12-09': '1438',
  '2016-01-08': '1102',
  '2017-01-29': '1489',
  '2013-09-20': '262',
  '2013-03-30': '88',
  '2015-04-16': '835',
  '2014-06-25': '540',
  '2016-05-12': '1227',
  '2016-12-02': '1431',
  '2016-02-06': '1131',
  '2014-08-28': '604',
  '2015-09-27': '999',
  '2013-12-13': '346',
  '2014-03-11': '434',
  '2014-07-09': '554',
  '2016-03-27': '1181',
  '2016-11-28': '1427',
  '2016-08-04': '1311',
  '2016-08-15': '1322',
  '2016-04-04': '1189',
  '2016-06-16': '1262',
  '2017-05-06': '1586',
  '2013-12-23': '356',
  '2014-11-24': '692',
  '2017-03-16': '1535',
  '2014-11-17': '685',
  '2015-01-17': '746',
  '2016-02-22': '1147',
  '2014-12-28': '726',
  '2015-06-21': '901',
  '2016-12-31': '1460',
  '2016-04-29': '1214',
  '2013-11-01': '304',
  '2017-05-23': '1603',
  '2013-12-06': '339',
  '2015-05-21': '870',
  '2015-03-30': '818',
  '2016-12-16': '1445',
  '2015-12-27': '1090',
  '2016-03-06': '1160',
  '2013-12-03': '336',
  '2015-02-19': '779',
  '2017-07-29': '1670',
  '2014-07-20': '565',
  '2015-10-26': '1028',
  '2015-04-01': '820',
  '2016-05-14': '1229',
  '2016-01-24': '1118',
  '2013-06-20': '170',
  '2016-11-14': '1413',
  '2014-04-02': '456',
  '2014-03-27': '450',
  '2014-09-05': '612',
  '2013-05-23': '142',
  '2014-11-07': '675',
  '2016-10-01': '1369',
  '2016-03-20': '1174',
  '2015-07-04': '914',
  '2016-04-19': '1204',
  '2013-08-11': '222',
  '2013-09-28': '270',
  '2013-10-08': '280',
  '2015-11-08': '1041',
  '2014-03-06': '429',
  '2017-08-10': '1682',
  '2015-11-24': '1057',
  '2013-02-19': '49',
  '2017-03-10': '1529',
  '2014-02-24': '419',
  '2015-06-22': '902',
  '2017-07-31': '1672',
  '2016-07-14': '1290',
  '2013-03-09': '67',
  '2013-07-02': '182',
  '2017-03-06': '1525',
  '2015-12-18': '1081',
  '2015-09-23': '995',
  '2017-01-22': '1482',
  '2016-11-27': '1426',
  '2013-12-22': '355',
  '2015-10-28': '1030',
  '2016-04-08': '1193',
  '2015-08-27': '968',

In [30]:
train.dtypes

id               int32
date            object
store_nbr        int16
item_nbr         int32
unit_sales     float16
onpromotion       bool
dtype: object

In [31]:
train['date'] = train['date'].map(replace['date'].get)

In [32]:
train.head()

   id date  store_nbr  item_nbr  unit_sales onpromotion
0   0    0         25    103665         7.0       False
1   1    0         25    105574         1.0       False
2   2    0         25    105575         2.0       False
3   3    0         25    108079         1.0       False
4   4    0         25    108701         1.0       False

In [33]:
train['date'] = train['date'].astype('int16')

In [34]:
train.to_csv('./data/train_processed.csv', index=False)

In [3]:
# fill empty values (maybe) - group by store_nbr, item_nbr, join date and unit_sales
types = {'id': 'int32',
         'date': 'int16',
         'item_nbr': 'int32',
         'store_nbr': 'int16',
         'unit_sales': 'float16',
         'onpromotion': bool,
    }
train = pd.read_csv('./data/train_processed.csv', dtype=types, nrows=100000)
train.head()

   id  date  store_nbr  item_nbr  unit_sales onpromotion
0   0     0         25    103665         7.0       False
1   1     0         25    105574         1.0       False
2   2     0         25    105575         2.0       False
3   3     0         25    108079         1.0       False
4   4     0         25    108701         1.0       False

In [ ]:
test = pd.read_csv('./data/test.csv', usecols=['store_nbr', 'item_nbr'])
test = list(set([tuple(x) for x in test.values]))

In [6]:
import itertools
comb = list(itertools.product(*[test, list(train['date'].unique())]))
comb = [(t[0], t[1], m) for t, m in comb]

train2 = pd.DataFrame(comb, columns=['item_nbr', 'store_nbr', 'date'])
train2 = train2.sort_values(by=['date', 'item_nbr', 'store_nbr'])
train2 = train2.merge(train, on=['date', 'item_nbr', 'store_nbr'], how='left')
train2 = train2.fillna(0.0)
train = train2

In [7]:
train.head()

   item_nbr  store_nbr  date   id  unit_sales  onpromotion
0         1      96995     0  0.0         0.0          0.0
1         1      96995     1  0.0         0.0          0.0
2         1      96995     2  0.0         0.0          0.0
3         1      96995     3  0.0         0.0          0.0
4         1      99197     0  0.0         0.0          0.0