In [1]:
import pandas as pd

In [6]:
items = pd.read_csv('./../data/items.csv')
stores = pd.read_csv('./../data/stores.csv')
items.head()

   item_nbr        family  class  perishable  weight
0     96995     GROCERY I   1093           0    1.00
1     99197     GROCERY I   1067           0    1.00
2    103501      CLEANING   3008           0    1.00
3    103520     GROCERY I   1028           0    1.00
4    103665  BREAD/BAKERY   2712           1    1.25

In [6]:
len(items['class'].unique())

337

In [7]:
len(items['family'].unique())

33

In [3]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [8]:
len(stores.city.unique())

22

In [9]:
len(stores.type.unique())

5

In [10]:
len(stores.cluster.unique())

17

In [23]:
stores['cluster'] = stores['cluster'].astype(str)
stores_enc = pd.get_dummies(stores[['city', 'type', 'cluster']])
stores_enc['store_nbr'] = stores['store_nbr']
stores_enc.to_csv('./data/stores_encoded.csv', index=False)

In [24]:
items['class'] = items['class'].astype(str)
items_enc = pd.get_dummies(items[['family', 'class']])
items_enc['item_nbr'] = items['item_nbr']
items_enc['perishable'] = items['perishable']
items_enc.to_csv('./data/items_encoded.csv', index=False)

In [8]:
from sklearn.preprocessing import LabelEncoder

stores['type'] = LabelEncoder().fit_transform(stores['type'])
stores['city'] = LabelEncoder().fit_transform(stores['city'])
stores['state'] = LabelEncoder().fit_transform(stores['state'])
stores.head()

   store_nbr  city  state  type  cluster
0          1    18     12     3       13
1          2    18     12     3       13
2          3    18     12     3        8
3          4    18     12     3        9
4          5    21     14     3        4

In [11]:
items['family'] = LabelEncoder().fit_transform(items['family'])
items.head()

   item_nbr  family  class  perishable  weight
0     96995      12   1093           0    1.00
1     99197      12   1067           0    1.00
2    103501       7   3008           0    1.00
3    103520      12   1028           0    1.00
4    103665       5   2712           1    1.25

In [12]:
stores.to_csv('./../data/stores_encoded.csv', index=False)
items.to_csv('./../data/items_encoded.csv', index=False)