In [1]:
from mapreduce import FilteringMapReduce, map_reduce_df
from dateutil.parser import parse
from datetime import timedelta

In [2]:
# each fold either from 01 to 15 or from 16 till the end of month
fold1 = {'start':'2017-07-01', 'end':'2017-07-15'}
fold2 = {'start':'2017-07-16', 'end':'2017-07-31'}
fold3 = {'start':'2017-08-01', 'end':'2017-08-15'}

start = parse('2017-07-01')
end = parse('2017-08-15')

days = []
while start <= end:
    days.append(start.strftime('%Y-%m-%d'))
    start = start + timedelta(days=1)

In [3]:
filter_func = lambda df: df[df.date.isin(days)]
cols = ['date', 'store_nbr', 'item_nbr', 'unit_sales', 'onpromotion']
mapreduce = FilteringMapReduce(filter_func, cols)
types = {'id': 'int32',
         'item_nbr': 'int32',
         'store_nbr': 'int16',
         'unit_sales': 'float32',
         'onpromotion': bool,
        }
validation_df = map_reduce_df('./data/train.csv', mapreduce, types=types, position=120000000, cols=cols, verbose=True)

Reading from position 120000000, batch size 10000000...
Filtering 5497041...
Filtered 4854129, mapping...
Mapped, reducing...
Done.
End of dataset is found.

In [4]:
validation_df.head()

                 date  store_nbr  item_nbr  unit_sales onpromotion
120642911  2017-07-01        1.0   99197.0         2.0       False
120642912  2017-07-01        1.0  103520.0         2.0       False
120642913  2017-07-01        1.0  103665.0        11.0       False
120642914  2017-07-01        1.0  105574.0         2.0       False
120642915  2017-07-01        1.0  105575.0         3.0       False