In [1]:
from mapreduce import *

In [6]:
class AllUniqueItemsStorePairs(MapReduceAbstract):
    def map(self, df_batch):
        pairs = df_batch.groupby(['item_nbr', 'store_nbr'], as_index=False).mean()[['item_nbr', 'store_nbr']]
        return list(pairs.itertuples(index=False))

    def reduce(self, ls, ls2):
        return set(ls + list(ls2))

    def filter(self, df_batch):
        return df_batch

In [7]:
mapreduce = AllUniqueItemsStorePairs()
types = {'id': 'int32',
         'date': 'int16',
         'item_nbr': 'int32',
         'store_nbr': 'int16',
         'unit_sales': 'float32',
         'onpromotion': bool}

train_pairs = map_reduce_df('./data/train_processed.csv', mapreduce, types=types, verbose=True, batch_size=10000000)

Reading batch from position 0, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 10000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 20000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 30000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 40000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 50000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 60000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 70000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 80000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 90000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 100000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 110000000, batch size 10000000...
Filtering 10000000...
Filtered 10000000, mapping...
Mapped, reducing...
Batch done.
Reading batch from position 120000000, batch size 10000000...
Filtering 5497041...
Filtered 5497041, mapping...
Mapped, reducing...
Batch done.
End of dataset is found.

In [17]:
len(train_pairs)

174685

In [18]:
test = pd.read_csv('./data/test.csv')
test_pairs = set(test.groupby(['item_nbr', 'store_nbr'], as_index=False).mean()[['item_nbr', 'store_nbr']].itertuples(index=False))
len(test_pairs)

210654

In [15]:
not_in_test_pairs = train_pairs-test_pairs
len(not_in_test_pairs)

8472

In [16]:
not_in_train_pairs = test_pairs-train_pairs
len(not_in_train_pairs)

44441

In [21]:
n_train = pd.DataFrame(list(not_in_train_pairs), columns = ['item_nbr', 'store_nbr'])
n_train.to_csv('./data/n_train.csv', index=False)

n_test = pd.DataFrame(list(not_in_test_pairs), columns = ['item_nbr', 'store_nbr'])
n_test.to_csv('./data/n_test.csv', index=False)

---

In [1]:
import pandas as pd

In [3]:
n_train = pd.read_csv('../data/n_train.csv')
test = pd.read_csv('../data/test.csv')
n_train_test = test.merge(n_train, on=['item_nbr', 'store_nbr'])

In [6]:
len(n_train_test)/len(test)

0.21096679863662687

In [7]:
test.head()

          id        date  store_nbr  item_nbr onpromotion
0  125497040  2017-08-16          1     96995       False
1  125497041  2017-08-16          1     99197       False
2  125497042  2017-08-16          1    103501       False
3  125497043  2017-08-16          1    103520       False
4  125497044  2017-08-16          1    103665       False

In [9]:
n_train_test = n_train_test.sort_values(by=['id'])
n_train_test.head()

           id        date  store_nbr  item_nbr onpromotion
0   125497042  2017-08-16          1    103501       False
16  125497047  2017-08-16          1    105576       False
32  125497061  2017-08-16          1    108833       False
48  125497091  2017-08-16          1    119193       False
64  125497108  2017-08-16          1    129759       False